<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Jerilyn's Resume</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name = "viewport" content="width=device=width, initial-scale=1">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>
<body>
<div class="row">
    <div class="col-md-5">
        <div class="col-md-7">
            <a class="thumbnail">
                <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/20476212_10159166951590252_8296920844507565645_n.jpg?oh=1c27d3afac32021c13479bb9d5d4e407&oe=5AAA4570" alt="Jerilyn Mensah">
            </a>
        </div>
    </div>
</div>
<div class="container">
<h1>Jerilyn Mensah</h1>
    <h2>Graphic Designer | Java Web Developer</h2>
    <p class="text-right">jerilynmensah@gmail.com</p>
    <p class="text-right">(301)-905-8272</p>
    <p class="text-right">14713 Chisholm Landing Way
    North Potomac, MD 20878</p>
</div>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://www.linkedin.com/in/jerilyn-mensah-7743289b/">
                    <img alt="LinkedIn" src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-22-32.png">
                    <a class="navbar-brand" href="https://www.facebook.com/jerilyn.mensah">
                    <img alt="Facebook" src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-04-32.png">
                        <a class="navbar-brand" href="https://github.com/jrmensah">
                            <img alt="Github" src="https://www.iconfinder.com/icons/298822/github_mark_icon#size=32">
                            <a class="navbar-brand" href="https://www.instagram.com/jerilynmensah/?hl=en">
                                <img alt="Instagram" src="https://www.iconfinder.com/icons/2329265/instagram_instagram_logo_logo_website_icon#size=32">
                                <a class="navbar-brand" href="https://www.behance.net/gallery/43428779/Graphic-Design-Portfolio">
                                    <img alt="Behance" src="https://www.iconfinder.com/icons/287605/behance_icon#size=32">
                                </a>
                            </a>
                        </a>
                    </a>
                </a>
            </div>
        </div>
    </nav>

</div>
<div class="container">
<h2 class="text left">Education</h2>
    <p>BS in Digital Media and Web Technology
        UMUC ,2020
    </p>

    <p>AAS in Graphic Design
        Montgomery College ,2015
    </p>

<h2 class="text left">Experience</h2>
    <p>Digital Marketing Coordinator
        Etnika Foundation ,  December 2015 - July 2016
        Conduct reseach for magazine
        Make posts for events on social media accounts
    </p>

    <p>Web Design Intern
        My Globall Channel ,  January 2013-January 2014
        Construct web sites learning about web shells
        Take notes for weekly meetings via Team Builder 8
    </p>

    <p>
        Gallery Hostess volunteer
        VisARTS ,  May 2013- December 2013
        Greet visitors in gallery and conduct tours of artwork by featured artists
        Structured monthly exhibitions for local artists and conducted sales for products
    </p>
<h2 class="text left">Skills</h2>
</div>
</body>
</html>